<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>rr</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
                    <string>rr-icon</string>
					<string>rr-icon-20</string>
                    <string>rr-icon-29</string>
                    <string>rr-icon-30</string>
                    <string>rr-icon-40</string>
                    <string>rr-icon-60</string>
                    <string>rr-icon-76</string>
                    <string>rr-icon-83.5</string>
                    <string>rr-icon-1024</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>mi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
                    <string>mi-icon</string>
                    <string>mi-icon-20</string>
                    <string>mi-icon-29</string>
                    <string>mi-icon-30</string>
                    <string>mi-icon-40</string>
                    <string>mi-icon-60</string>
                    <string>mi-icon-76</string>
                    <string>mi-icon-83.5</string>
                    <string>mi-icon-1024</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
</dict>
</plist>
